[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pydantic = "*"
psycopg2-binary = "*"
faker = "*"
alembic = "*"
passlib = "*"
python-jose = "*"
fastapi-users = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.12"
